<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="js/lib/paper.js"></script>
<script src="js/prefs.js"></script>
<script type="text/javascript">
var rawData;
var playing = false;
$(function() {
  $("#playToggle").click(function() {
    if (playing) {
      playing = false;
      $(this).html("Play");
    } else {
      playing = true;
      $(this).html("Pause");
    }
  });
});
</script>
<script type="text/paperscript" canvas="myCanvas">
// Create a rectangle shaped path with its top left point at
// {x: 75, y: 75} and a size of {width: 75, height: 75}
var topLeft = new Point(50, 50);

var knifeLength = 200;
var timeScale = 400;
var resolution = 0.001;

var size = new Size(timeScale, timeScale/2);
var cake = new Path.Rectangle(topLeft, size);
cake.strokeColor = 'green';

function createKnife(color) {
  var knife = new Path();
  knife.strokeColor = color;
  knife.moveTo(topLeft);
  knife.lineTo(topLeft + [0, knifeLength]);

  return knife;
}

var knives = [ createKnife('blue'), createKnife('red'), createKnife('orange')];
var refKnife = createKnife('black');
var piece1, piece2, piece3;
var texts = [];
var frameNum = 0;
function onFrame(event) {
  if (playing) {
    if (frameNum == 0) {
      hidePieces();

    }
    var frameData = rawData[frameNum];

    if (piece1) {
      piece1.remove();
    }

    for (var i = 0; i < knives.length; i++) {
      knives[i].position.x = topLeft.x + frameData[i]*timeScale;
    }
    refKnife.position.x = topLeft.x + frameNum*resolution*timeScale;

    frameNum += 1;
    if (frameNum >= rawData.length) {
      playing = false;
      frameNum = 0;
      showPieces();
    }
  }
}

function showPieces() {
    piece1 = createPiece(0);
    text1 = createText(piece1, 0);

    piece2 = createPiece(1);
    text2 = createText(piece2, 1);

    piece3 = createPiece(2);
    text3 = createText(piece3, 2);
}


function createPiece(index) {
  var colors = ['blue', 'red', 'orange'];
  var pt =  new Point(topLeft.x + endpoints[index][0]*timeScale, 50); 
  var size =new Size((endpoints[index][1] - endpoints[index][0])*timeScale, timeScale/4); 
  var piece = new Path.Rectangle(pt, size);
  piece.fillColor = colors[index];
  return piece;
}

function createText(piece, index) {
    var colors = ['blue', 'red', 'orange'];

    for (var i = 0; i < 3; i++) {
      var text = new PointText(piece.position);
      text.position.y += i*20;
      text.content = values[index]['values'][i].toFixed(3);
      if (index == i) {
        text.fillColor = 'white';
      } else {
        text.fillColor = colors[i];
      }
      texts.push(text);
    }

    return text;
}

function hidePieces() {
  if (piece1) {
    piece1.remove();
    piece2.remove();
    piece3.remove();

    for (var i = 0; i < texts.length; i++) {
      texts[i].remove();
    }
    texts = [];

  }
}

</script>

</head>
<body>
<div id="visualization" ></div>
Prefs 1:
<textarea id="prefs1" cols="6" rows="10">
0 1
1 1</textarea>
Prefs 2:
<textarea id="prefs2" cols="6" rows="10">
0 0
1 1</textarea>

Prefs 2:
<textarea id="prefs3" cols="6" rows="10">
0 1
1 0</textarea>
<button id="graphIt" >Graph it</button>

<button id="submit">Submit</button>
<button id="playToggle">Play</button>
<br>
<input name="stype" type="radio" value="0" checked="true">Regular</input>
<input name="stype" type="radio" value="1">Always cheat</input>
<input name="stype" type="radio" value="2">Middle cheater</input>
<input name="stype" type="radio" value="3">Everyone Cheats</input>
<div id="holder"></div>
  <canvas id="myCanvas" resize ></canvas>
</body>
</html>
