<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="js/prefs.js"></script>
</head>
<body>
<div id="visualization"></div>
Prefs 1:
<textarea id="prefs1" cols="6" rows="10">
0 1
1 1</textarea>
Prefs 2:
<textarea id="prefs2" cols="6" rows="10">
0 0
1 1</textarea>

Prefs 2:
<textarea id="prefs3" cols="6" rows="10">
0 1
1 0</textarea>

<button id="graphIt" >Graph it</button>

<button id="submit">Submit</button>
<div id="holder"></div>
</body>
</html>
